# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PROTECT/Release/New_Game_3D_2.iobj
PROTECT/New_Game_3D_2/x64/Debug/New_Game_3D_2.tlog/New_Game_3D_2.lastbuildstate
PROTECT/New_Game_3D_2/Release/New_Game_3D_2.tlog/link.write.1.tlog
PROTECT/New_Game_3D_2/Release/New_Game_3D_2.tlog/link.command.1.tlog
PROTECT/New_Game_3D_2/Release/New_Game_3D_2.tlog/CL.write.1.tlog
PROTECT/New_Game_3D_2/Release/New_Game_3D_2.tlog/CL.command.1.tlog
PROTECT/New_Game_3D_2.VC.VC.opendb
PROTECT/New_Game_3D_2/x64/Debug/New_Game_3D_2.tlog/unsuccessfulbuild
PROTECT/New_Game_3D_2/x64/Debug/New_Game_3D_2.tlog/CL.command.1.tlog
PROTECT/New_Game_3D_2/Release/New_Game_3D_2.tlog/New_Game_3D_2.lastbuildstate
PROTECT/Release/New_Game_3D_2.ipdb
PROTECT/New_Game_3D_2/x64/Debug/vc140.idb
PROTECT/New_Game_3D_2/x64/Debug/New_Game_3D_2.tlog/CL.write.1.tlog
PROTECT/New_Game_3D_2/Release/New_Game_3D_2.tlog/link.read.1.tlog
PROTECT/New_Game_3D_2/Release/New_Game_3D_2.tlog/New_Game_3D_2.write.1u.tlog
PROTECT/New_Game_3D_2/Release/New_Game_3D_2.tlog/CL.read.1.tlog
PROTECT/New_Game_3D_2/x64/Debug/New_Game_3D_2.tlog/New_Game_3D_2.write.1u.tlog
PROTECT/New_Game_3D_2/x64/Debug/New_Game_3D_2.tlog/CL.read.1.tlog
PROTECT/New_Game_3D_2/GameCount.txt
PROTECT/New_Game_3D_2/Log.txt
